[2019-09-12 13:59] fosteman opened #1 "API Blueprint 1A"
Howdy @eldadfux !
I noted this description document to be in future sight of appwrite's development cycles.

Truth be told, I'd be doing this for the first time - getting along with PHP - but I am confident I can befriend `api-blueprint` and `sdk-generator` communicating with you.

You think this document is relevant to be realized at present ?

[2019-09-13 16:59] eldadfux commented on #1
This something that can definitely benefit this project. Truth be told we are more focused on getting help with adding new templates for more languages. But I don't see any reason to not go forward with both direction.

You can reach out on our Appwrite community on gitter:
https://gitter.im/appwrite/community

[2019-09-20 05:07] eldadfux opened #3 "Add multipart/form upload support for NodeJS"
To allow uploading of files using the HTTP API. There is an example of support for this in the PHP templates.

[2019-09-20 05:17] eldadfux opened #4 "Add Swift support"
Add Swift templates to allow easy generation of Swift SDKs for iOS, macOS and other platform that rely on the language.

A full guide on how to add new language support to the Appwrite SDK generator is located here:
https://github.com/appwrite/sdk-generator/blob/master/CONTRIBUTING.md

[2019-09-20 05:18] eldadfux opened #5 "Add Kotlin Support"
Add Kotlin templates to allow easy generation of Kotlin SDKs for Android or any other platform that rely on the language.

A full guide on how to add new language support to the Appwrite SDK generator is located here:
https://github.com/appwrite/sdk-generator/blob/master/CONTRIBUTING.md

[2019-09-29 16:59] eldadfux opened #6 "Add Python Templates to the SDK generator"
We need help adding Python templates to this project to allow easy generation of Python SDKs for the Appwrite server. We already have some templates ready for Python but we still need to test them and complete the SDK features checklist to provide full support for developers.

A full guide on how to add new language support to the Appwrite SDK generator is located here:
https://github.com/appwrite

[2019-09-29 17:01] eldadfux opened #7 "Add Ruby Templates to the SDK generator"
We need help adding Ruby templates to this project to allow easy generation of Ruby SDKs for the Appwrite server. We already have some templates ready for Ruby but we still need to test them and complete the SDK features checklist to provide full support for developers.

A full guide on how to add new language support to the Appwrite SDK generator is located here:
https://github.com/appwrite/sdk-g

[2019-09-29 17:03] eldadfux opened #8 "Add GO Templates to the SDK Generator"
We need help adding GO templates to this project to allow easy generation of GO SDKs for Appwrite server.

A full guide on how to add new language support to the Appwrite SDK generator is located here:
https://github.com/appwrite/sdk-generator/blob/master/CONTRIBUTING.md

[2019-09-29 17:09] eldadfux opened #9 "Add C# Templates to the SDK Generator"
We need help adding C# templates to this project to allow easy generation of C# SDKs for Appwrite server.

A full guide on how to add new language support to the Appwrite SDK generator is located here:
https://github.com/appwrite/sdk-generator/blob/master/CONTRIBUTING.md

[2019-09-29 17:10] eldadfux opened #10 "Add Rust Templates to the SDK Generator"
We need help adding Rust templates to this project to allow easy generation of Rust SDKs for Appwrite server.

A full guide on how to add new language support to the Appwrite SDK generator is located here:
https://github.com/appwrite/sdk-generator/blob/master/CONTRIBUTING.md

[2019-09-30 23:19] panz3r commented on #8
Hi @eldadfux ,

I'd like to do this task.

[2019-10-01 04:26] eldadfux commented on #8
Hey @panz3r that will be great. Let me know if you need any help with it. Also, feel free to reach out on our Gitter community or just DM me!

https://gitter.im/appwrite/community

[2019-10-01 09:54] udaykiranreddykondreddy commented on #6
Hello @eldadfux Can I work on this?

[2019-10-02 13:20] Kerl1310 commented on #9
I'd like to get involved with this

[2019-10-02 17:53] eldadfux commented on #9
Hey @Kerl1310 that will be amazing! Please reach out to me on Gitter for any question or help!

[2019-10-02 17:54] eldadfux commented on #8
@panz3r assigned you to this issue, please let me know if you need any help.

[2019-10-02 17:55] eldadfux commented on #6
Hey @udaykiranreddykondreddy that will be great! Please reach out to me on Gitter for any question!

I am assigning you to this issue.

[2019-10-06 06:08] asha15 commented on #7
@eldadfux  Shall i try this sir?

[2019-10-06 06:54] eldadfux commented on #7
@asha15 that will be great! tAs I said, the best way to start is by reading the contribution guide:
https://github.com/appwrite/sdk-generator/blob/master/CONTRIBUTING.md

You can reach me out on Gitter for any question.

[2019-10-10 07:04] luko0610 commented on #5
Is this still available? I'd like to do it.

[2019-10-10 08:07] eldadfux commented on #5
@luko0610 yeh sure, that will be great. I am assigning you with this issue. Please update from time to time how it goes.

You can reach me here or on Gitter for any question you might have.

[2019-10-10 08:07] eldadfux commented on #5
https://gitter.im/appwrite/community

[2019-10-10 08:39] Lwooo commented on #5
Cześć o co tu chodzi

czw., 10 paź 2019, 10:07 użytkownik Eldad A. Fux <notifications@github.com>
napisał:

[2019-10-10 10:18] luko0610 commented on #5
Okay, great.

[2019-10-13 19:41] eldadfux commented on #5
Hey @luko0610 let me know if you need any help. This is a really anticipated feature by our Android followers.

We are also constantly working on improving the process of adding new languages to the project, please let me know if you have any issues.

[2019-10-14 06:19] luko0610 commented on #5
Sorry, but I cannot get the project to work. So you will probably have to assign it to someone else.

[2019-10-14 06:29] TomerPacific commented on #5
@eldadfux , if @luko0610  isn't able to this issue, I'd like to help.

[2019-10-14 06:35] eldadfux commented on #5
Hey @TomerPacific, that will be amazing, this feature is really highly anticipated!

The contribution guide is the best place to get started:
https://github.com/appwrite/sdk-generator/blob/master/CONTRIBUTING.md

We have also updated some things to make the process easier. I am available on Gitter, facebook, or wherever you like if you need any help moving forward.

[2019-10-14 09:28] eldadfux commented on #5
@TomerPacific You can add a readme and license templates. Usually, each language has some kind of a package manager file like package.json for js and node or composer.json file in PHP projects, not sure what Kotlin is doing for this purpose.

What you did with 'getKeywords' method seems great.

[2019-10-14 10:06] TomerPacific commented on #5
@eldadfux ,
thanks for the quick reply.
Kotlin does not have a package manager. When building an application in Android, you would normally use [Gradle ](https://kotlinlang.org/docs/reference/using-gradle.html)to handle any dependencies you have. (You may be familiar with [Maven](https://kotlinlang.org/docs/reference/using-maven.html)).

So, I am still unclear as to what templates I should create

[2019-10-14 11:25] eldadfux commented on #5
@TomerPacific If Kotlin doesn't  use any package management file then you should just skip it.

The basic template files most SDKs are using are:

* HTTP client template for an object to handle all http requests
* Abstraction class for all services - this is optional depending on the lang, for example node and js don't use this
* Template for generating the service class itself - this template gen

[2019-10-18 06:50] TomerPacific commented on #5
@eldadfux ,
I'm working on the templates and I would like you to review what I am doing. Is it ok if I open a pull request? Or would you prefer for me to just post the code here?

[2019-10-18 06:51] eldadfux commented on #5
@TomerPacific A PR will be great..

[2019-10-18 07:10] TomerPacific commented on #5
@eldadfux , I have opened a [PR](https://github.com/appwrite/sdk-generator/pull/19). Please bear in mind that it still a work in progress and not up for real review.

[2019-10-19 05:58] eldadfux commented on #7
I have just updated the ruby templates to have better support for the required SDKs features. We are also working on adding cross-platform tests for all SDK, which helps us have better awareness of SDK support status.

Just published our Appwrite SDK beta version on rubygems.org
https://rubygems.org/gems/appwrite

@asha15 it will be great if you or anyone else could code review the package and let

[2019-10-21 04:19] eldadfux opened #20 "Add TypeScript Templates to the SDK generator"
We need help adding TypeScript templates to this project to allow easy generation of a TypeScript SDK for the Appwrite server.

A full guide on how to add new language support to the Appwrite SDK generator is located here:
https://github.com/appwrite/sdk-generator/blob/master/CONTRIBUTING.md

A good starting point might be to use the NodeJS templates as a base for the TypeScript one. For type-hint

[2019-11-15 22:39] kervi commented on #6
What is the status for Python support?
I have looked into the generated python project and have these comments to the templates.

in setup.py.twig the package line should be
packages = ['{{spec.title | caseSnake}}', '{{spec.title | caseSnake}}/services'],

I dont know the twig syntax but the result for services py files should be something like this in the constructor.
[code]

[2019-11-15 22:50] eldadfux commented on #6
@kervi the python support is still a work in progress. It could be really helpful if you would code-review this very slim version of SDK generated by the latest version of the python twig templates:
https://github.com/eldadfux/python-sdk-sample

This way I will be able to very easily translate your feedback to the TWIG  templates syntax and get closer to a working Appwrite python SDK.

[2019-11-16 13:46] kervi commented on #6
A service class should start like this with the constructor:

[code]

[2019-11-16 13:48] kervi commented on #6
In setup.py the packages field should look like this

setup(
  name = 'appwrite',
  packages = ['appwrite', 'appwrite/services'],
  .... rest of setup

[2019-11-16 14:00] kervi commented on #6
The download url is spooky

download_url='https://github.com///archive/.tar.gz',

I guess that it should look like this
download_url='https://github.com/appwrite/sdk-for-python/[path to tar ball]',

As you have not made any releases there are any files to link to.

[2019-11-16 19:37] eldadfux commented on #6
@kervi I have updated the templates according to your feedback. This is demo SDK:
https://github.com/eldadfux/python-sdk-sample looking better?

[2019-11-16 21:50] kervi commented on #6
Looks right

---- On lø, 16 nov. 2019 19:37:20 +0000 notifications@github.com wrote ----

@kervi I have updated the templates according to your feedback. This is demo SDK:
https://github.com/eldadfux/python-sdk-sample looking better?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2019-11-19 07:39] PedroCisnerosSantana commented on #6
not working with the past setup and two classifiers are wrong
[code]

[2019-11-22 08:25] PedroCisnerosSantana opened #23 "[PYTHON] generator seems not to be working"
The sdk generated code using reserved keywords even this was specified in the script, @eldadfux and I will work on this.

[2019-11-24 19:31] PedroCisnerosSantana opened #24 "Add Java Support"
We need help adding Java templates to this project to allow easy generation of Java SDKs for Appwrite server.

A full guide on how to add new language support to the Appwrite SDK generator is located here:
https://github.com/appwrite/sdk-generator/blob/master/CONTRIBUTING.md

[2019-11-24 19:31] PedroCisnerosSantana commented on #24
I will work on it @eldadfux

[2019-11-24 19:32] eldadfux commented on #24
👌🏻

[2019-11-24 19:33] PedroCisnerosSantana commented on #23
Fixed by @eldadfux
https://github.com/appwrite/sdk-generator/commit/e329bd42e01c664968928631c8e269d9c747f8a3

[2019-11-24 19:33] #23 closed

[2019-12-02 18:23] Joe118 commented on #9
I can also help.

[2019-12-02 18:49] Kerl1310 commented on #9
Think this is finished, awaiting review

[2019-12-02 18:57] Joe118 commented on #9
Cool. Where can I take a peek?

[2019-12-02 18:57] Joe118 commented on #9
Actually I meant where can I take a look at the generated C# SDK for AppWrite lol

[2019-12-02 20:21] eldadfux commented on #9
Hey @Kerl1310 were the c# files written manually or using the twig templates? If manually I can help creating the twig templates, just let me know.

Also, could you please add a snippet example to show how to init the SDK and make an HTTP call?

[2019-12-07 00:08] wentzlau opened #26 "path generation is wrong in python"
The generated python sdk does not create api path correctly in the generated functions.

From database.py
[code]
The problem is that path.replace returns a new string it does not modify the source.

It is should be
[code]

From python version 3.6 string interpolation is supported and the path could be created like this
[code]

[2019-12-07 05:21] eldadfux commented on #26
Added a fix. Still with support for python 3.5, but we can change that later.

[2019-12-11 20:35] wentzlau commented on #26
I have tried v 0.4.0 with the newly generated sdk and it works now.

[2019-12-11 20:35] #26 closed

[2019-12-21 17:03] wentzlau opened #27 "Add exception handling to python client"
In the python client the client.call function returns the response object.
All callers should then check the status of the response and get the json response.

I think that it would be better to change line  65 in client.py.twig

return response

To

response.raise_for_status()
return response.json()

This will raise exceptions for all non 2xx responses and return the json response

[2019-12-21 17:18] eldadfux commented on #27
@PedroCisnerosSantana this should also help you.

Anyway, i'll add it right now and send you guys to review the commit.

[2019-12-21 18:04] eldadfux commented on #27
@wentzlau @PedroCisnerosSantana if this seems ok, I'll release a new pip version:
https://github.com/appwrite/sdk-generator/commit/45880d72795e1fb7dd5e791fe71f1c6bf7494e04

[2019-12-21 19:15] wentzlau commented on #27
It looks alright

[2019-12-23 14:21] eldadfux commented on #27
Released version 0.3.0 of the Python SDK 🎉
![image](https://user-images.githubusercontent.com/1297371/71362948-41f82d00-25a0-11ea-88a6-f76e860e80d0.png)

[2019-12-24 12:53] wentzlau commented on #27
Discovered that empty response generates an exception as there is no json data.
This occurs when calling Auth.login

The last lines should be:

response.raise_for_status()
try:
    return response.json()
except ValueError:
    return None

I think that this should be last resort all api calls should return json data.

[2019-12-25 15:02] eldadfux commented on #27
@wentzlau I am working on a fix, also adding the Python SDK to our new automated tests layer to make sure this kind of things don't repeat again.

[2020-01-14 09:12] eldadfux commented on #5
Hey @TomerPacific so sorry for the incredibly long delay on this!

The PR seems great but still missing the service class templates. Do you think you'll be able to keep working on this?  Anything on my side to help push this forward?

[2020-01-19 05:03] TomerPacific commented on #5
@eldadfux , I have been waiting for your feedback to continue working on this. I'll keep you posted if I have time to make further enhancements.

[2020-01-19 11:08] eldadfux commented on #5
@TomerPacific great! let me know when you have more info 🙏🏻

[2020-01-22 20:45] Dmunch04 commented on #24
Yay

[2020-01-23 08:25] lbm commented on #4
If this isn't being worked on, I'd be happy to give it a try @eldadfux.

[2020-01-23 08:40] eldadfux commented on #4
@lbm This would be great! This is one of our most requested features and we have been looking for a Swift contributor for quite some time now. I would be happy to assist with any question here or on our Discord server (https://discord.gg/GSeTUeA). Feel free to reach out!

[2020-01-23 10:24] lbm commented on #4
No worries, I’ll fork it and start looking into it as soon as possible. I’ll join the discord then too 🙂

[2020-01-28 18:42] eldadfux commented on #8
@panz3r, I finally had some time to play around with the Go implementation. I have generate a demo SDK using the Appwrite API spec in this demo repo: https://github.com/aw-tests/sdk-for-go

When I run this example code:
[code]

I get the following errors:
[code]

Any idea how can we fix this?

[2020-01-28 20:43] panz3r commented on #8
Hi @eldadfux ,

This line should be
[code]

This one should be:
[code]
but there's an issue with the generated SDK, since `client` is a private field of the `Avatars` struct it cannot be set this way, to fix this there are 2 ways:
- Add a method `New{{ServiceName}}Service(clt *Client)` to the generated SDK
- make the `client` field public

I'd advice for the first one.
The method would look like t

[2020-01-29 14:45] armino-dev commented on #4
Hi guys, I hope you don't mind. I had some spare time and made the first version of the Swift SDK generator

[2020-04-09 11:44] eldadfux opened #33 "Replace deprecated Node.js request library"
The request library has been marked as deprecated. We need to replace it with a valid alternative.

More information and alternative libraries are listed here:
https://github.com/request/request/issues/3143

[2020-04-13 07:17] eldadfux commented on #3
Done.

[2020-04-13 07:17] #3 closed

[2020-04-18 15:03] meysam81 commented on #33
Hey there,

I have zero experience using PHP. I was looking for a way to test my changes against the current code and I couldn't find one, to see if it breaks anything or not. Can you guide me please?

[2020-04-18 15:31] eldadfux commented on #33
You will need composer installed (php equivalent to npm).

When composer is installed, run:

[code]

and then run:

[code]

to execute all the tests

[2020-04-30 04:29] eldadfux opened #37 "Add CURL Templates to the SDK generator"
This is not really a new SDK feature request. We need CURL templates to help us auto-generate code examples that uses the REST API **DIRECTLY** with plain HTTP and no SDK.

This is useful for users who don't want to add an SDK dependency or users who are using platforms which we don't yet support.

This issue is associated to the issue by @Joe118: https://github.com/appwrite/appwrite/issues/314

[2020-05-21 07:15] eldadfux opened #39 "Add Deno Templates to the SDK generator"
We need help adding Deno [https://github.com/denoland/deno] templates to this project to allow easy generation of a Deno SDK for the Appwrite server.

Deno is starting to get a lot of traction in the community and this could be a good timeframe to introduce a Deno SDK for backend integration with the Appwrite API and upcoming cloud function service.

We already have templates for TypeScript, I'm n

[2020-05-25 03:38] Almoullim commented on #39
Just leaving this here for anyone following this issue;

I've been working on this here https://github.com/appwrite/sdk-generator/pull/40, some features still in the work. If you would like to offer your help you can contact me or @eldadfux here or through the [discord server](https://discord.com/invite/GSeTUeA)

[2020-05-26 14:27] rushsteve1 opened #41 "JavaScript Client SDK ES6 Module Support"
Supporting the more modern ES6 Module syntax would be a great addition and would natively support Node, Deno, and the Browsers.

[Rollup has a great write-up](https://github.com/rollup/rollup/wiki/ES6-modules) on why ES6 modules are better, and their [`pkg.module` page](https://github.com/rollup/rollup/wiki/pkg.module) also gives some more context and benefits of ES6 modules.

This is related to #

[2020-05-26 18:31] Almoullim commented on #41
But we will have to drop support for older node versions

[2020-05-27 00:02] Almoullim commented on #41
if we do this, we'll have to add a build step to continue supporting older versions of node

[2020-05-27 21:30] eldadfux opened #42 "Add missing docs templates for Ruby/Java"
Add missing twig templates for docs examples for Ruby & Java. This are the code examples that we use for code snippets at: https://appwrite.io/docs

Example template (Node.js):
https://github.com/appwrite/sdk-generator/blob/97cb12c9c187a42a545060c324b0960c99582893/templates/node/docs/example.md.twig

[2020-05-30 12:22] eldadfux commented on #42
I have added examples for ruby, now available on master.

[2020-06-13 14:29] eldadfux commented on #9
So there's some good news about this issue. @komemi have been working on it for the last few days and it seems close to a PR. We'll add more update to this issue when more progress is made.

[2020-06-14 05:36] PedroCisnerosSantana commented on #37
@eldadfux Assign me this issue, I'm already working on it

[2020-06-17 03:23] delaneyj opened #44 "Go templates not valid"
when trying to ` go get github.com/appwrite/sdk-for-go` I get...

[code]

I believe it should be `interface{}` isn't of `object` in these instances but not understanding how to properly setup PHP to generate locally.  Also not seeing where the template pull that information from.

[2020-06-27 01:22] peterjcarroll opened #46 "Python (and likely others): 'filters' parameter in list_documents should be 'filters[]'"
I was attempting to use the Python SDK to call the list_documents method on the Database class using a filter, like so:

[code]

This gave me a 400 Bad Request error:
[code]

The body of that error response was this:
`Invalid filters: Value must be an array and Value must be a string and no longer than 128 chars`

I'm not a PHP guy so the solution was not obvious to me. Eventually I found this lin

[2020-06-27 16:00] eldadfux commented on #46
Thanks for reporting this issue, as most language aren't really fans of the "[]" syntax, I am also thinking of adding 'regular' array support directly in the Appwrite API. I'll post updates to this issue if there are any on the API part as well.

[2020-07-10 05:27] eldadfux opened #48 "Add a consistent user-agent header to all the SDKs"
We need to add a consistent user-agent header that will be sent with any HTTP request made by any of our SDKs HTTP clients.

All the user-agent headers should follow the same standard to allow us to parse them easily on the server side in order to get info about the end client platform name, version, and technology.

Any suggestion for the header format will be appreciated.

[2020-07-26 08:18] #1 closed

[2020-07-26 13:06] eldadfux commented on #46
@peterjcarroll this issue should now be resolved in version 0.0.6 of the Python SDK.

[2020-07-26 13:06] #46 closed

[2020-07-26 13:08] eldadfux commented on #6
Just released version 0.0.6 of the Python SDK which now support file uploading and include some other bug fixes. Next version will probably be 1.0

[2020-07-26 13:08] #6 closed

[2020-07-26 13:09] eldadfux commented on #39
Version 0.0.2 of Deno SDK has been released with some bug fixed: https://github.com/appwrite/sdk-for-deno

[2020-07-26 13:12] eldadfux commented on #20
This is currently on freeze, anyone following this issue, can use the JS SDK with our types declaration file or the Deno SDK which is written for TS.

[2020-07-26 13:12] #20 closed

[2020-07-26 13:15] eldadfux commented on #7
Closing this in favour of: https://github.com/appwrite/appwrite/issues/419

For anyone following this topic, Ruby templates have been added, but lack support for file uploading and still has some known issue we need to address. If anyone would like to help on this, please contact me.

[2020-07-26 13:15] #7 closed

[2020-07-27 08:26] Vaytrex opened #50 "Flutter Dio Exception when appwrite response html error"
Hi there,

I was trying to use appwrite flutter sdk to test the login.
While implementing the UI handling for wrong password, Appwrite server will response html error 401.
Unfortunately seems like the Dio interceptor had throw the exception before it reach my UI code.
![1](https://user-images.githubusercontent.com/11291106/88520085-ab07bd80-d025-11ea-98a4-60776a3fe585.jpg)
Is this behavior normal?

[2020-07-29 09:28] Vaytrex commented on #50
This exception only throw when using visual studio code. I guess its not related to appwrite. So I will closed this issue

[2020-07-29 09:28] #50 closed

[2020-09-25 18:30] Better-Boy opened #60 "Invalid syntax for Comment in python"
In all of the docs examples, `//` is used for comments which result in a syntax error.

I have corrected those for avatars in my clone of this repo - https://github.com/Better-Boy/sdk-for-python

And I have also reformatted the code for readability purposes. If the changes regarding avatars are fine, I'll do the same for the rest of the examples and open a PR

Also included a `.gitignore` file.

A

[2020-09-25 20:02] eldadfux commented on #60
Seems like this issue was already fixed and we just need to deploy a new version of appwrite.io.

You can submit a PR against the Python example code twig template for any code readability improvements:
https://github.com/appwrite/sdk-generator/blob/master/templates/python/docs/example.md.twig

[2020-10-02 15:48] #60 closed

[2020-10-02 15:50] eldadfux commented on #33
This issue is open for grab.

[2020-10-02 15:51] #39 closed

[2020-10-02 15:52] eldadfux commented on #39
Closing issue. Deno SDK is out. The beta version seems to be pretty stable, we might be able to release v1.0 soon.

[2020-10-03 10:58] Nibba2018 opened #65 "Are Python SDK API calls truly Asynchronous?"
While using the following syntax to call appwrite's methods:
[code]
leads to the following error:
`object dict can't be used in 'await' expression`

After some googling I found that the sdk class needs to implement `__await__()` dunder function to make it `awaitable` and hence asynchronous.

I also tried a different implementation [here](https://github.com/appwrite/playground-for-python/pull/22) b

[2020-10-05 08:03] PineappleIOnic commented on #33
Can I try changing the library?

[2020-10-05 09:46] eldadfux commented on #33
@PineappleIOnic yes please 🙏🏻

[2020-10-08 00:00] ng29 commented on #42
Hey Eldad,

Can i take this one for Java to contribute in Hactoberfest :) ?

[2020-10-08 10:01] eldadfux commented on #42
@ng29 go for it 👍

You can also join our Discord server if you have any questions: https://appwrite.io/discord

[2020-10-16 23:32] PineappleIOnic commented on #33
#66 has been merged, I'm pretty sure this issue can be closed 😄

[2020-10-17 10:55] eldadfux commented on #33
@PineappleIOnic I'm leaving it open as a reminder to publish the new SDK version :)

[2020-10-17 10:57] PineappleIOnic commented on #33
Ah, alright 👍

[2020-11-29 07:32] Glide7 opened #69 "Missing required params in flutter doc examples"
When you replace hostname, projectId and collection Id  it wont work.
![unknown](https://user-images.githubusercontent.com/51369094/100535915-b5c99d80-3225-11eb-8491-cbb7c503fba0.png)

[2021-01-04 09:58] lohanidamodar opened #76 "Incorrect parameter type Functions API"
In the functions API, in Create and Update method, the param `vars` is treated as `Array` instead of object, the default value assigned is `array` when generating the SDK.

[2021-01-05 23:29] eldadfux commented on #9
The .NET SDK first *experimental* release is out: https://github.com/appwrite/sdk-for-dotnet we'd love help with testing!

All credits to @komemi and @TorstenDittmann for working on this! Great work guys!!

[2021-01-05 23:29] #9 closed

[2021-01-05 23:30] eldadfux commented on #33
Didn't forget about this we'll probably release in 1-2 weeks max! Adding myself a reminder!

[2021-01-06 05:27] #76 closed

[2021-01-08 20:04] #27 closed

[2021-02-10 18:33] AtjonTV commented on #5
Whats the Status on this? I would love to use Appwrite in my Kotlin programs JVM and Android :smile:

[2021-02-10 21:05] eldadfux commented on #5
@AtjonTV As you can see no much progress on this PR, but we do plan to introduce Kotlin support in the near future.

[2021-02-11 13:44] AtjonTV commented on #5
How near is "near"?

1. If "near" means weeks, then I will wait.
2. If "near" means months I may decide to quickly hack together a Micronaut HTTP Client to bridge the gap of waiting.
3. But if "near" means years, I will write my own backend in Micronaut inspired by the abilities of Appwrite but with a more static approach to the data models.

(Nr 2 here is basically like writing the SDK myself jus

[2021-02-12 09:04] sshyran opened #107 "Container Multiplatform ?"
Hello, and hi5 to all Appwrite community!

Please consider adding LXC/Snap  and/or Kata as additional containerisation option for Appwrite projects... as many Web Hosts (incl. both of mine)  restrict or do not support Docker virtualisation, but freely support other -v methods... due to their Hosting Virtualisation Mechanism...

So please, make Appwrite happen for low end VPS users. Thanks !

[2021-02-12 18:40] eldadfux commented on #107
@sshyran sounds interesting, please feel free to share any relevant resources that might help us better understand how can this be implemented.

[2021-02-13 13:31] sshyran commented on #107
@eldadfux , a good starting point in this direction might be this one:
https://redo.readthedocs.io/en/latest/cookbook/container/

[2021-02-16 22:13] sshyran commented on #107
is it ok for this request to stay here, or should it be moved to feature request repo ?

[2021-03-04 18:35] Sameerkash opened #134 "[Flutter] Support for Null-safety"
Null -safety for Dart is now available in the stable channel.

I'm planning to use appwrite for one of my projects, it'd be great if there's null safety support.

Although I'm not familiar with the generator approach, I'm happy to raise a PR for null-safety with some guidance.

[2021-03-04 20:24] eldadfux commented on #134
@Sameerkash I think @lohanidamodar has just create a PR a few hours before you opened this issue: https://github.com/appwrite/sdk-generator/pull/126 😃

[2021-03-10 21:56] eldadfux commented on #107
The best way to push this forward is to write an RFC on: https://github.com/appwrite/rfc
For now, I'm moving this issue to appwrite/appwrite

[2021-03-10 21:58] #42 closed

[2021-03-10 21:59] eldadfux commented on #41
Closing for now. If anyone would like to help with a PR, I'll re-open the issue.

[2021-03-10 21:59] #41 closed

[2021-03-10 22:00] eldadfux commented on #10
Update 10.03.21 - this is now a work in progress by @PineappleIOnic 🥳

[2021-03-10 22:01] eldadfux commented on #33
Forgot to update here, but this has been released on the latest version together with the release of Appwrite 0.7. Thank for the help @PineappleIOnic 👏🏻

[2021-03-10 22:01] #33 closed

[2021-03-24 14:29] JarFiles commented on #24
Is there an eta when this could be finished? I really need Java support :)

[2021-03-25 11:25] TorstenDittmann opened #142 "React Native"
Based on [this comment](https://www.reddit.com/r/selfhosted/comments/mb6z91/self_hosted_firebase_alternative/gryxyoj?utm_medium=android_app&utm_source=share&context=3) we should investigate how compatible our Web SDK is with react-native and if we need a react-native specific SDK.

[2021-03-25 18:22] gusgeek opened #143 "Postman compatible import"
Hello! When will they be compatible with Postman?

[2021-03-25 19:06] kodumbeats commented on #143
Hi! We generate both OpenAPI 3 and Swagger 2 API specifications, which we publish on our website. I've included links for the *Client* and *Server* OpenAPI specifications, which you can [import into Postman](https://learning.postman.com/docs/integrations/available-integrations/working-with-openAPI/) as needed:

https://appwrite.io/specs/open-api3?platform=client
https://appwrite.io/specs/open-api3

[2021-03-25 19:06] #143 closed

[2021-03-26 05:52] trydalch commented on #142
If you had support for react native, I would be using this right now.

[2021-04-03 20:58] PineappleIOnic commented on #37
If this isn't being worked on by @PedroCisnerosSantana I would like to take it on if that wouldn't be any issue

[2021-04-03 21:00] PedroCisnerosSantana commented on #37
No problem for me, if @eldadfux agrees 😉

[2021-04-04 05:07] eldadfux commented on #37
@PineappleIOnic sure no problem. I'll just mention again this can also be implemented as HTTP examples and not necessarily with CURL

[2021-04-07 06:21] lohanidamodar commented on #134
@Sameerkash we are almost done with our implementation for Null safety release #148
We would love your help testing, the current version is available in our git repository
https://github.com/appwrite/sdk-for-flutter/tree/feat-null-safety-new

You can use the dependency directly from github under dependencies in your pubspec.yaml file for now for testing
[code]

Do provide us feedback if you have a

[2021-04-07 06:23] lohanidamodar commented on #142
@TorstenDittmann Will the refactored web SDK work well with ReactNative? I am not sure about oAuth implementation, apart from that it should work. Would be happy to test once we release it.

[2021-04-07 07:21] TorstenDittmann commented on #142
@lohanidamodar It would be easily imported and recognized by the bundler.

Could be worth a try 🤔

[2021-04-07 09:55] TorstenDittmann commented on #142
Just run a small test with https://expo.io/

Everything except OAuth seems to work 👍🏻

[2021-04-09 09:58] kutear commented on #24
two years passed!  java/kotlin still not be supported.

[2021-04-09 10:04] eldadfux commented on #24
We're trying to do as best as we can. We expect to push this forward in the next few weeks.

[2021-04-09 10:09] kutear commented on #24
thanks, i will be grad to wait for it.

[2021-04-09 11:39] abnegate commented on #24
@eldadfux If you need support on this I'd be happy to finish up what's there (most can be ported from Kotlin #150)

[2021-04-09 12:04] christyjacob4 commented on #24
@abnegate that would be amazing :D

[2021-04-09 12:29] abnegate commented on #24
@christyjacob4 On it now

[2021-04-14 15:17] Sameerkash commented on #134
@lohanidamodar So sorry, currently I'm stuck with a lot of work, I'm unsure if I'll be able to test, but I'll definitely report an issue if I encounter anything

[2021-05-09 10:46] lohanidamodar commented on #134
Null safety has been released
https://pub.dev/packages/appwrite/versions/0.5.0-dev.1

[2021-05-09 10:46] #134 closed

[2021-05-10 19:45] christyjacob4 opened #171 "Idiomatic way to parse conditional headers"
In the [CLI templates](https://github.com/appwrite/sdk-generator/pull/170/files#diff-1f6f304940541af429979e9c9055117c72d30287d4637297afbdf54eafb263c6R43), we use `if` conditions to conditionally render headers. This is neither clean nor scalable.

We need to come up with a better convention to allow conditional parsing of the spec files.
This can be done either by some modifications in the spec or

[2021-08-19 08:19] Silfalion opened #242 "Adding custom limiter and caps interface/feature"
Following the discussion with Meldiron, this is the idea that came up.

**IDEA**:

Implementing a limit/cap custom Appwrite function and/or interface to put rules on tables. For example this table can’t be written to more than 10 times a day, or it can’t be written more than 1000 times a minute or as Meldiron mentioned more complex ones like you can only post as many comments as you created posts.

[2021-08-19 08:24] Meldiron commented on #242
The inspiration could be taken from Directus. Just like we have webhooks for document create or update events, Directus also has `.before` events for these. It **waits** for the function to execute and depending on the response, it can deny the write action.

Directus approach: https://docs.directus.io/guides/api-hooks/
Code example with `.before`: https://docs.directus.io/guides/api-hooks/#full-e

[2021-08-19 08:34] Silfalion commented on #242
That hits the nail on the head. Since it’s open source we can harness what’s relevant to us to implement on Appwrite or even use it directly with some tweaks.

[2021-08-20 16:26] TorstenDittmann commented on #242
Mhh, this sounds to me like a middleware that could be hooked into any kind of API write action.

Meaning you can run any kind of logic (Cloud Functions) before the actual work is done and can decide if you wanna proceed or not. Maybe even manipulate the payload.

[2021-08-20 17:20] Silfalion commented on #242
So it'd be the equivalent of creating a cloud function with the on document created property turned on.

[2021-08-24 17:24] fidst opened #244 "Email Verification Returns Empty if False"
https://github.com/appwrite/sdk-for-php/blob/981134a47e3bbcb1d1e17b1b36a22254a14530d4/src/Appwrite/Services/Users.php#L338

https://discord.com/channels/564160730845151244/564161373148414012/879169819814019112

When attempting to use the PHP server sdk, and sending:
 $result = $users->updateVerification([USERID], [FALSE]);

It returns "missing required parameter for emailverification"

[2021-09-05 15:19] Silfalion opened #253 "Flutter creating OAuth session returning error"
The OAuth session creation returns an error at this line on Flutter:

https://github.com/appwrite/sdk-generator/blob/4be966578e99d5545f96ef8c3ba35403920cc5b3/templates/flutter/lib/src/client_io.dart.twig#L193

This should be because the url isn´t parse, so added that line from the previous commit in this pull request:

https://github.com/appwrite/sdk-generator/pull/252

[2021-09-17 04:13] stnguyen90 commented on #69
@Glide7, is this still a problem? It seems to work based on the playground for flutter sample.

https://github.com/appwrite/playground-for-flutter/blob/master/lib/main.dart

[2021-09-17 12:13] prooshani opened #257 "flutter_web_Auth should be updated"
Hey great AppWrite team...

Recently, I have updated my Flutter SDK and after that my app returns failed on run because of a package outdated which I did not imported by myself. Flutter_web_auth 0.3.0 package is the culprit.
It is turned out that appwrite 1.0.2 is using flutter_web_auth 0.3.0 which is not compatible with new flutter sdk.
Therefore, I have manually imported flutter_web_auth 0.3.1 a

[2021-09-26 04:46] lohanidamodar commented on #257
@prooshani The recent version (2.0.1), this should be updated! If the issue still persist feel free to reopen the issue.

[2021-09-26 04:46] #257 closed

[2021-09-26 04:50] lohanidamodar commented on #253
@Silfalion This should already be resolved
https://github.com/appwrite/sdk-generator/blob/f42e70737d3b63fb8440111022c9509529a16479/templates/flutter/lib/src/client_io.dart.twig#L193

If not please reopen the issue and provide more information on the Error received and how to reproduce the error.

[2021-09-26 04:50] #253 closed

[2021-09-27 07:44] eldadfux commented on #24
We now have officially released both our SDKs for Android and Kotlin! Thanks @abnegate for the awesome work!
* https://github.com/appwrite/sdk-for-android
* https://github.com/appwrite/sdk-for-kotlin

[2021-09-27 07:44] #24 closed

[2021-09-27 07:45] eldadfux commented on #244
@TorstenDittmann can we close this issue?

[2021-09-27 10:03] #244 closed

[2021-09-29 12:18] Meldiron opened #268 "Help Appwrite upgrade to GitHub issue forms ✍️"
# Introduction

GitHub has recently started public beta for GitHub repositories regarding the new issue forms feature. This feature lets you create interactive issue requests and validate them 🤯

Your task is to create **GitHub issue forms** for this repository. Please use [Appwrite's issue templates](https://github.com/appwrite/appwrite/tree/master/.github/ISSUE_TEMPLATE) as a source of template

[2021-09-29 22:05] aadityamp01 commented on #268
Hello, I am interested to work on this issue!
Thank you!

[2021-09-30 10:40] Meldiron opened #269 "Upgrade our issue templates to use GitHub issue forms ✍️"
# Introduction

GitHub has recently rolled out a [public beta for their issue forms](https://github.blog/changelog/2021-06-23-issues-forms-beta-for-public-repositories/) feature. This would allow you to create interactive issue templates and validate them 🤯.

Appwrite currently uses the older [issue template format](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-

[2021-09-30 12:20] Meldiron commented on #268
Whoops, I created a duplicate. Let's move all activity to new one: https://github.com/appwrite/sdk-generator/issues/269

Also, please wait to October before asking for assigning to Hacktoberfest-labeled issues 😊

[2021-09-30 12:20] #268 closed

[2021-09-30 12:21] himanshu007-creator commented on #269
Hoppin here now👽

[2021-09-30 21:52] TorstenDittmann commented on #44
Gonna close this in favor of #8

[2021-09-30 21:52] #44 closed

[2021-09-30 21:58] TorstenDittmann commented on #65
Closing this in favor of https://github.com/appwrite/sdk-for-python/issues/26

[2021-09-30 21:58] #65 closed

[2021-10-01 04:31] 2002Bishwajeet commented on #269
I want to work on this issue 🎈

[2021-10-01 06:18] Meldiron commented on #269
@2002Bishwajeet Assigned it to you! All the best 🚀

[2021-10-01 06:19] Meldiron commented on #269
@himanshu007-creator We would love you to check out some of our other open issues and join us on [Discord](https://appwrite.io/discord) if you need help finding some.

[2021-10-03 06:34] Silfalion opened #273 "Data models for dart appwrite"
Not sure if it's already added to hacktorberfest. But the dart appwrite also needs data models. Can I work on that please?

[2021-10-05 06:37] Meldiron opened #276 "Implement Godot SDK"
Your task is to implement Godot SDK using our SDK generator. Please take a look at existing generators for other languages to have a clearer vision of how to do it. If you really struggle to implement it into the sdk-generator, it's fine to implement it as a separate repository and ignore our generator. Please give it a try and let us know if we need to switch to a separate repo 🙏

---

If you nee

[2021-10-05 06:40] fenix-hub commented on #276
Thank you for assigning me this task. I'll make sure to follow your resources. :rocket:

[2021-10-05 06:43] Meldiron commented on #276
@fenix-hub Assigned it to you! All the best 🚀

[2021-10-12 19:19] foxy-eyed opened #281 "Ruby SDK: exception on dependency requirement"
Caught exception:
[code]
on library load
[code]

This happens because lib `mime-types` is used in runtime, but not included to `gemspec` as a runtime dependency.

## How to reproduce:

1. Check if dependency `mime-types` installed globally for current Ruby version:
[code]
and uninstall if present (to simulate 'clean' ruby env):
[code]
2. Create new app dir and add `Gemfile` with `appwrite` gem:
[c

[2021-10-13 19:04] Shabinder opened #1043 "🚀 Feature: Migrate SDk to Support to KotlinMultiPlatform"
### 🔖 Feature description

Migrate lib to KMP structure and replace following:

 - GSON -> kotlinx.serialization
 - okhttp -> ktor

to support multiple targets like, Android, JVM, IOS, maybe Native too(for MacOS, Windows, Linux).

Are you open to PRs for same ?

### 🎤 Pitch

why keep kotlin sdk only scoped to jvm, Kotlin Targets more platforms.

### 👀 Have you spent some time to check if this issu

[2021-10-18 05:47] jacobprudhomme opened #289 "Ruby SDK: Client raises TypeError when API responds with 204"
Hey! Just ran into an issue already open in appwrite/sdk-for-ruby#6 by @foxy-eyed and thought I should post it here, since that repo is read-only. Here's the body of the issue as it appears in the original:

The issue happens at https://github.com/appwrite/sdk-for-ruby/blob/master/lib/appwrite/client.rb#L110. My guess is that the case where `response.class == Net::HTTPNoContent` should be handled

[2021-10-20 09:33] TorstenDittmann opened #291 "Add Deno Response Models"
This issue will cover on how to add response models for Deno.

The twig templates for Deno can be found here => https://github.com/appwrite/sdk-generator/tree/master/templates/deno

For reference - you can use this PR which has implemented this for Web => https://github.com/appwrite/sdk-generator/pull/261

Following things are important:
- We can have all Models in a single file - which can be imp

[2021-10-22 08:33] foxy-eyed opened #292 "Ruby SDK: ArgumentError when handling Net::Http exceptions"
Ruby version: 3.0.2
SDK version: 2.4.1

When `Appwrite::Client` gets exception from `Net::Http` (for example, when server refused connection or failed with timeout error) it tries to wrap it with `Appwrite::Exception`, but it causing
[code]
because constructor requires three arguments:
[code]
Place where problem appears (`/lib/appwrite/client.rb:95`):
[code]
### How to reproduce:
I created tiny ex

[2021-10-26 15:20] crweiner opened #296 "Documentation: Ruby SDK - Remove --save flag from Gem install."
Per [this issue](https://github.com/appwrite/docs/issues/82) and [this PR](https://github.com/appwrite/docs/pull/104) in the [Appwrite Docs repo](https://github.com/appwrite/docs), the Ruby gem install command should be `gem install appwrite` instead of `gem install appwrite --save`.

A PR will be submitted to update this in the Ruby Readme.

Note, I do still see the `--save` flag on the [Docs her

[2021-10-27 08:40] #296 closed, assigned to nobody

[2021-11-02 05:15] #289 closed

[2021-11-02 05:34] eldadfux commented on #289
Fix was merged and will be released in the next Ruby SDK version.

[2021-11-17 07:54] christyjacob4 commented on #269
Thank you so much for the contribution! The changes have been merged and will be released soon!

[2021-11-17 07:54] #269 closed

[2021-11-17 10:58] #292 closed

[2021-11-23 18:43] SebastianTMo opened #315 "🐛 Bug Report: [Android SDK] Serialization Engine"
### 👟 Reproduction steps

When using a serialization engine other than Gson in your app (for example KotlinXSerialization) the annotations to your data classes are not recognised by the Gson serialization engine used by the SDK.

### 👍 Expected behavior

Propper object parsing.

I think the best solution for this problem might be choosing the serialization engine beforehand but happy to hear your

[2021-11-29 18:34] christyjacob4 commented on #315
@abnegate please take a look at this

[2021-12-20 11:26] miyavsu-limited opened #329 "🚀 Feature: A way to disable self-signed certificate restriction"
### 🔖 Feature description

Appwrite client does not work in Jest environment when used with local docker images. Instead it throws an error: `reason: self signed certificate`.  There should be a way to disable Appwrite client's self signed certificate restriction for testing purposes.

### 🎤 Pitch

An error is thrown when Appwrite client is used in Jest environment:

[code]

### 👀 Have you spent s

[2021-12-20 11:42] eldadfux commented on #329
For testing you can always use Appwrite on `http` instead of `https`. You can also check the `_APP_OPTIONS_FORCE_HTTPS` env variable that allows you to disable the `https` redirect: https://appwrite.io/docs/environment-variables#general.

[2021-12-23 11:33] miyavsu-limited commented on #329
Disabling https solved this problem.

[2021-12-23 11:33] #329 closed

[2022-01-10 19:55] prooshani opened #338 "🐛 Bug Report: migrated database attributes (string ) failed to create index"
### 👟 Reproduction steps

After upgrading to 0.12 and migrating my databases (collections), string attributes are converting with length of 65535.
If you decide to add index to the collection for queries with type of **KEY** and having more than one attribute then you will face a **failed** index and the index is not gonna work for queries as well.
But, if I define a similar dataTable (collection)

[2022-01-13 21:06] #69 closed

[2022-01-26 19:41] SebastianTMo opened #345 "🐛 Bug Report: [Android] [Realtime Feature] Subscribing to a cloud function execution - Missing ID and read parameters when using the Execution class as payloadType"
### 👟 Reproduction steps

[Appwrite Version 0.12]
[Android SDK Version 0.3.2]

Try to subscribe to a `Cloud Function Execution` using the Execution class as payloadType, process the payload data in the callback function.

### 👍 Expected behavior

Having all relevant data available as per:
https://appwrite.io/docs/models/execution

### 👎 Actual Behavior

`ID ` and `read` paramenters are null.

Root

[2022-01-27 13:52] vladmit3 opened #348 "🐛 Bug Report: Query class type definition missing"
### 👟 Reproduction steps

`
import sdk from "node-appwrite";
const Query = sdk.Query;
`

### 👍 Expected behavior

Query class gets imported and can be used in database requests.

### 👎 Actual Behavior

Error: Property 'Query' does not exist on type 'typeof import("node-appwrite")'.

### 🎲 Appwrite version

Different version (specify in environment)

### 💻 Operating system

Linux

### 🧱 Your Enviro

[2022-02-11 05:27] lohanidamodar commented on #281
@foxy-eyed Closing this as resolved based on the comment on the PR, if it still exists, feel free to reopen.

[2022-02-11 05:27] #281 closed

[2022-02-11 05:28] lohanidamodar commented on #273
Closing this, as data models has been added and released.

[2022-02-11 05:28] #273 closed

[2022-02-11 05:28] #4 closed

[2022-02-11 05:31] lohanidamodar commented on #171
@christyjacob4 is this still relevant? if yes let's discuss soon.

[2022-02-11 05:31] lohanidamodar commented on #142
@TorstenDittmann is this still relevant?

[2022-02-11 05:37] abnegate commented on #345
Fixed in version 0.3.3 🥳

[2022-02-11 05:37] #345 closed

[2022-02-11 05:51] #315 closed

[2022-02-28 22:52] LokiLokus opened #386 "🚀 Feature: .NET Blazor WASM Client SDK"
### 🔖 Feature description

The current Implementation for the .NET SDK works only for using .NET on Serverside. But thanks to the .NET Team, there is now with Blazor WebAssembly also a possible Web Client.
I tested the current .NET Server SDK with Blazor and it didn't worked well. The implementation isn't the best and very ...... fat. Also the Template uses NewtonSoft which is very slow (https://d

[2022-03-12 15:57] itishermann commented on #143
Hi there!
Looks like the links are broken (404).
Are there any alternative ?

[2022-03-12 16:11] TorstenDittmann commented on #143
https://github.com/appwrite/appwrite/tree/master/app/config/specs

Here is the new location 👍🏻

[2022-03-26 11:52] anandsubbu007 opened #417 "🐛 Bug Report: AppwriteException: null, Concurrent modification during iteration: Instance(length:2) of '_GrowableList'. (0)"
### 👟 Reproduction steps

when i tried to log in session.

### 👍 Expected behavior

-

### 👎 Actual Behavior

AppwriteException: null, Concurrent modification during iteration: Instance(length:2) of '_GrowableList'. (0)

### 🎲 Appwrite version

Version 0.11.x

### 💻 Operating system

Windows

### 🧱 Your Environment

Flutter

### 👀 Have you spent some time to check if this issue has been raised bef

[2022-03-29 10:08] lohanidamodar commented on #417
Please provide the code you are using, SDK version that you are using 🙏🏻

[2022-03-29 10:10] lohanidamodar commented on #386
We would love the contribution, let us know how we can help 🙏🏻

[2022-03-29 17:44] anandsubbu007 commented on #417
[code]

[2022-04-05 11:36] lohanidamodar commented on #417
@anandsubbu007 Flutter SDK version that you are using?

[2022-04-05 11:53] anandsubbu007 commented on #417
[code]

[2022-04-06 07:09] lohanidamodar commented on #417
@anandsubbu007 sorry for not being clear enough, I meant the Appwrite's Flutter SDK version that you are using, as your Appwrite server is 0.11 you should not be using the latest version of Appwrite's Flutter SDK. Just wanted to confirm that.

[2022-04-06 11:09] anandsubbu007 commented on #417
appwrite: ^4.0.1

[2022-04-28 01:21] lohanidamodar commented on #417
@anandsubbu007 This seems to be windows specific issue, we are trying to figure out why. We will update as soon as we have some update. Thank you.

[2022-05-14 19:26] kekavc24 commented on #417
@lohanidamodar maybe wait for all the values to return from onRequest which also has other methods that modify iterables?

https://github.com/appwrite/sdk-for-flutter/blob/ab73474ca1ee5feb4a0a5780d0856b6c91e2ec77/lib/src/client_io.dart#L179

Tried looking around to help out but didn't quite find much on the issue but stumbled on this whilst checking maybe it could be of help?

https://stackoverflo

[2022-05-14 19:28] kekavc24 commented on #417
What do you think?

[2022-05-24 13:49] ms7m opened #452 "🚀 Feature: Async Client for Python"
### 🔖 Feature description

An async client for the python-sdk.

### 🎤 Pitch

I'm planning to move over a couple of applications I maintain to Appwrite, and while in the process of moving I noticed the python-sdk client is non-asynchronous. Mainly due to ``requests`` being used as the http client.

A little bit of background: The applications I maintain are mostly FastAPI-based and they [recommend

[2022-05-24 14:08] XeroxDev commented on #417
Hey! I've noticed the same bug in the appwrite sdk for flutter.
I'm using version: 5.0.0
I've also debugged it a bit and I've noticed it's crashing in `client_io.dart:251` and if stepping further, it's `client_io.dart:181`

[2022-06-07 20:11] lokmeinmatz opened #458 "🐛 Bug Report: CLI template for init function on windows not working"
### 👟 Reproduction steps

- install the CLI via NPM or from source on a windows machine (for example powershelll)
- login and init project with an appwrite instance
- execute "appwrite init function", with node 16 runtime

### 👍 Expected behavior

It should generate the requested function template

### 👎 Actual Behavior

It fails to create the folder, fetch the functions-starter repo and so on, be

[2022-07-07 15:33] stnguyen90 commented on #458
Thanks for raising this! Let's keep track of this in https://github.com/appwrite/sdk-for-cli/issues/30.

[2022-07-14 04:32] lohanidamodar commented on #417
This is now happening in iOS as well?

[2022-07-14 06:46] frmatthew opened #820 "🚀 Feature: add progress callback on Storage API for downloads (getFileDownload and getFileView)"
### 🔖 Feature description

Just as Storage.createFile has an optional onProgress callback, it would be very helpful for getFileDownload and getFileView to have an onProgress callback also for the download progress.

Alternatively, the API could allow plugging in custom http clients (such as Dio?) which already have hooks for tracking request/response progress.

### 🎤 Pitch

This would allow dynami

[2022-07-28 11:16] prooshani opened #497 "🚀 Feature: $createdBy and updatedBy"
### 🔖 Feature description

Hope to see more additional info about database Documents like what you already did ($createdAt, $updatedAt).

It is much appreciated to have the extra info about the user/team which created or updated a document for further investigations and I think it is good to have this info besides dates of creation and update.

Thanks everyone participating this wonderful repo.

#

[2022-08-02 16:22] stnguyen90 commented on #348
@vladmit3 is this still a problem or can it be closed?

[2022-08-05 09:52] p4-k4 commented on #417
Has this been sighted yet? Just thought I'd check its on the list TODO. Thanks.

[2022-08-06 03:09] stnguyen90 commented on #417
@p4-k4, we haven't seen other reports of this so it's not as high of a priority.

[2022-08-08 16:57] nohli commented on #417
Today, I'm facing this issue on iOS simulator (latest versions of everything), when calling `await _account.getSessions()`:
[code]

[2022-08-09 00:55] stnguyen90 commented on #417
@nohli, @p4-k4, would you please share the code that caused this error and the output of `flutter doctor`? We're having trouble replicating the issue.

[2022-08-09 01:13] p4-k4 commented on #417
I don't have minimally reproducable code right now (will follow up soon) but what I was doing was calling a method from the `initState` override in my widget.

It instantiates a `Realtime` instance and `Database` instance. It also makes an initial request to the database to populate the widget with data.

Within the `initState` method, I'm calling it as so:
[code]

This was the workaround that you

[2022-08-19 12:28] maikeriva opened #522 "node-appwrite 7.0.2 bug: uncaught exception in line 478 of ./lib/services/storage.js"
From discord: https://discord.com/channels/564160730845151244/564161373148414012/999227422648053790

I think I found another bug in the node server SDK (7.0.2)
In line 478 of ./lib/services/storage.js we have:
[code]
That is executed on a `createFile` operation. If the given bucket ID is wrong, this section will execute regardless and will throw an error at `uploadChunk`. However, since it is thro

[2022-08-25 15:28] yaakov123 opened #525 "🚀 Feature: Add function variables to appwrite.json"
### 🔖 Feature description

As far as I can tell, the `appwrite.json` file is there to help with keeping dev/prod environments consistent (at least that's how I use it).

One thing that is missing for me is when the object that describes a function is generated in the file it's missing the variables property. Right now, if I would like to use the `appwrite deploy function` command, I would have to

[2022-08-26 17:55] stnguyen90 commented on #525
@yaakov123, thanks for raising this issue! 🙏 Our intention with:

https://github.com/appwrite/sdk-for-cli/blob/d34c18412fb1d508546e7c686496d30337e4b924/lib/commands/deploy.js#L190-L198

was to ensure variables like secrets set in the Appwrite Console don't get wiped and become lost so I don't think we would change it to update the server with values in the appwrite.json.

Perhaps what we can do to

[2022-09-01 14:47] maikeriva opened #532 "🐛 Bug Report: Missing "type" property on AppwriteException"
### 👟 Reproduction steps

In the node-appwrite 7.0.2 package, the property "type" is missing in the AppwriteException type definition in `index.d.ts`, but it DOES exist in `exception.js`. When coding with typescript it would be great to be able to access it without workarounds as it carries important information for exception handling.

### 👍 Expected behavior

AppwriteException types should be co

[2022-09-05 04:43] lohanidamodar commented on #532
@maikeriva Thank you for notifying the issue, we will fix it as soon as possible.

[2022-09-07 15:23] stnguyen90 commented on #525
@yaakov123, anything else you need or can this be closed?

[2022-09-22 18:06] stnguyen90 commented on #48
@eldadfux can this be closed now?

[2022-09-22 19:50] stnguyen90 opened #557 "🚀 Feature: Have methods to generate file URLs for every SDK"
### 🔖 Feature description

Every SDK should have both download and get URL methods.

### 🎤 Pitch

1. Consistency - Currently, the SDK for Web generates a URL, but most other SDKs do not.
2. Sometimes, it's necessary to get a URL to a file to pass to other libraries. This is even true for the SDK for Web when used in React Native.

1. [ ] sdk-for-web
1. [ ] sdk-for-flutter
1. [ ] sdk-for-apple
1. [

[2022-09-22 23:52] sunnycat1991 opened #558 "🚀 Feature: WeChat mini program sdk"
### 🔖 Feature description

I suggest you also refer to the development of wechat cloud
There are million developers need WeChat mini program sdk.

### 🎤 Pitch

Now,JavaScript sdk can not be used to WeChat mini program  ,when i install it,throw some wrong.
WeChat have millions developers and billion users daily

### 👀 Have you spent some time to check if this issue has been raised before?

- [X] I

[2022-09-23 00:20] stnguyen90 commented on #558
@sunnycat1991 could you please provide details on what the error is that's thrown?

[2022-09-23 01:23] sunnycat1991 commented on #558
Compiling miniprogram_npm/tr46   is very difficult

[2022-09-23 01:28] stnguyen90 commented on #558
@sunnycat1991 interesting...I don't see anything related to Appwrite in this output, though. 🧐

[2022-09-23 01:32] sunnycat1991 commented on #558
The tr46 file is included in the AppWrite installation package

[2022-09-23 01:32] sunnycat1991 commented on #558
The tr46 file is included in the AppWrite installation package

[2022-09-23 01:32] sunnycat1991 commented on #558
In addition, if you can open the website of China, this is tencent's WeChat of front from server-side development projects, including database, storage, function, and also involves complex database, speaking, reading and writing, database security rules, at the same time support aggregation query and pipelining, database field support location, time, etc., also supports atomic operations.

It is a

[2022-09-23 01:43] sunnycat1991 commented on #558
Sorry，combined-stream file is included in the AppWrite

[2022-09-23 01:51] sunnycat1991 commented on #558
WeChat Cloud is not an open source project. At the same time, it does not support web and app development well. It is mainly aimed at WeChat applets. Now the charge price is very high. Millions of developers are fleeing to find alternative products.

WeChat Cloud is not an open source project. At the same time, it does not support web and app development well. It is mainly aimed at WeChat applets.

[2022-09-23 08:06] stnguyen90 commented on #558
@sunnycat1991, although you can't use the SDK, you should be able to manually make API calls to Appwrite. Just make sure to set the X-appwrite-project header.

[2022-09-23 15:07] #558 closed

[2022-10-04 18:01] aabmets commented on #276
@Meldiron Why is this issue still open for Hacktoberfest 2022?

[2022-10-04 21:59] stnguyen90 commented on #276
@aabmets, looks like this wasn't closed after the PR was merged. I'll close it now and we can revisit if there's another feature request for updated/official SDK.

[2022-10-04 21:59] #276 closed

[2022-10-08 17:32] yaakov123 commented on #525
I think this is good for now and can be closed.

[2022-10-08 17:32] #525 closed

[2022-10-14 15:13] stnguyen90 commented on #142
Closing as we should track specific problems in https://github.com/appwrite/sdk-for-web

[2022-10-14 15:13] #142 closed

[2022-10-14 15:16] stnguyen90 commented on #242
@Silfalion, this looks like the same request as https://github.com/appwrite/appwrite/issues/2358. If so, can we close this one as that one has more 👍 and you can 👍 that one?

[2022-10-14 15:53] stnguyen90 commented on #291
@TorstenDittmann, is still relevant? I see there's a type file: https://github.com/appwrite/sdk-for-deno/blob/master/src/models.d.ts

[2022-10-14 15:54] #348 closed

[2022-10-14 16:09] stnguyen90 commented on #452
@ms7m, can your description be added to https://github.com/appwrite/sdk-for-python/issues/26 and then we close out this issue as a duplicate since there's a longer history/conversation in that issue?

[2022-10-21 15:39] stnguyen90 opened #581 "🚀 Feature: Add Typing Support for Query"
### 🔖 Feature description

As a developer, I'd like to be able to have my IDE suggest/autocomplete `attribute` and check the type of `value` when creating a `Query`.

### 🎤 Pitch

Using the web SDK and TypeScript as an example, it would be cool to be able to do:

[code]

and then have my IDE suggest:

<img width="303" alt="image" src="https://user-images.githubusercontent.com/1477010/197234444-f5b

[2022-11-02 16:00] #452 closed, assigned to stnguyen90

[2022-11-16 08:25] Mabenan opened #588 "🚀 Feature: Unify Dart and Flutter Package"
### 🔖 Feature description

At the moment we have different SDKs for Backend (Dart) and Frontend (Flutter). This is not optimal for people who want to reduce their boilerplate code.

For example if someone want to use the same strongly typed data models  in functions like he does in the frontend he is forced to write a lot of Boilerplate code to first generalize the API calls in a Package and then

[2022-11-16 20:00] stnguyen90 commented on #588
Thanks for raising this issue! 🙏🏼

Can you expand more on the boilerplate?

[2022-11-16 20:14] Mabenan commented on #588
I created abstract API class which has basically the same methods like database,account,team and so on.

Then I have a singelton Class which holds an instance of the API that is given over an Init method.

In Server functions I created an Implementation of the API class that uses dart_appwrite package

In Client code I created an Implementation of the API class that uses appwrite package